.header{
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2);
    
}

.a{
    color: white;
}

.logo{
    font-family: 'Playball' cursive;
    font-size: 28px;
}

.example-fill-remaining-space{
    flex: 1 1 auto;
}

.my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.full-width{
    width: 100%;
}

.example-card{
    width: 800px;
    max-width: 400px;
}

.example-header-image{
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}