<!-- <app-header></app-header> -->
<div fxLayout="row"
  class="container"
fxLayout
fxLayout.xs="column"
fxLayoutGap="20px"
fxLayoutGap.xs="0">

<p class="mat-form-field--inline">
  <!-- <app-restaurant-search></app-restaurant-search> -->
</p>
</div>
<div fxLayout="row wrap"
class="container"
fxLayoutGap="20px"
fxLayoutGap.xs="0">
<!-- <div *ngFor="let restaurant of filteredRestaurants | orderBy: key : reverse" style="width:23.5%" margin-height="10px"> -->
  <div *ngFor="let restaurant of restaurantlist" 
  [class.selected]="restaurant.id === selectedId" style="width:23.5%" margin-height="10px">
  <a [routerLink]="['/foodList', restaurant.id]">
  <mat-card class="example-card">
    <img mat-card-image src="{{restaurant.imageUrl}}">
    <mat-card-content>
      <h2>{{restaurant.name}}</h2>
      <p>{{restaurant.address.street}},{{restaurant.address.city}}</p>
      <span fxLayoutGap="10px">
        <button mat-raised-button>South Indian</button>
        <button mat-raised-button>North Indian</button>
      </span>
      <span fxLayout="row" fxLayoutGap="50px">
        <button mat-button><mat-icon>star</mat-icon>4.5</button>
        <p>Rs.300 FOR 2</p>
      </span>
    </mat-card-content>
  </mat-card>
  </a>
  </div> 

